*.cls linguist-language=rexx
*.rex linguist-language=rexx

.gitignore export-ignore
.gitattributes export-ignore

resources/*.typ export-ignore
resources/*.cast export-ignore
resources/*.sh export-ignore
resources/*.ipe export-ignore
